atomicwrites==1.1.5
attrs==18.1.0
Cerberus==1.2
click==6.7
ecdsa==0.13
Flask==1.0.2
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mock==2.0.0
more-itertools==4.2.0
pbr==4.0.4
pluggy==0.6.0
py==1.5.4
pycrypto==2.6.1
PyJWT==1.6.4
pytest==3.6.2
six==1.11.0
SQLAlchemy==1.2.9
user-api==0.4
Werkzeug==0.14.1
