atomicwrites==1.1.5
attrs==18.1.0
Cerberus==1.2
click==6.7
ecdsa==0.13.3
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
mock==2.0.0
more-itertools==4.3.0
mysql-connector==2.1.6
pbr==4.2.0
pluggy==0.7.1
py==1.5.4
pycryptodome==3.6.6
PyJWT==1.6.4
pytest==3.7.2
six==1.11.0
SQLAlchemy==1.2.10
Werkzeug==0.15.3
